:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
    --Transparent-white: hsla(0, 0%, 100%, 0.75);
    --Very-light-gray: hsl(0, 0%, 95%);
    /* Typography */
    --typography-primary: "Lexend Deca", sans-serif;
    --typography-title: "Big Shoulders Display", cursive;
}

body {
    height: 100vh;
    font-size: 15px;
    background-color: var(--Very-light-gray);
    font-family: var(--typography-primary);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.containers {
    display: flex;
    /* padrão do flexbox */
    flex-direction: row;
    justify-content: center;
    margin: 2em;
}

.container {
    box-sizing: border-box;
    position: relative;
    width: 310px;
    height: 500px;
    padding: 3.3em;
}

h2 {
    font-family: var(--typography-title);
    font-size: 2.4rem;
    font-weight: 700px;
    text-transform: uppercase;
    color: var(--Very-light-gray);
}

p {
    font-family: var(--typography-primary);
    color: var(--Transparent-white);
    line-height: 1.6rem;
}

button {
    padding: 1em 2em;
    position: absolute;
    bottom: 3.2em;
    font-weight: 400; 
    font-family: var(--typography-primary);
    border: 3px solid (--Very-light-gray);
    border-radius: 2em;
    border: none;
}

button:hover {
    background-color: transparent;
    color: white;
    border: 3px solid white;
    font-size: 16px;
    cursor: pointer;
}

.container--orange button {
    color: var(--Bright-orange);
}

.container--cyan button {
    color: var(--Dark-cyan);
}

.container--dark-cyan button {
    color: var(--Very-dark-cyan);
}

.container--orange {
    background-color: var(--Bright-orange);
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.container--cyan {
    background-color: var(--Dark-cyan);
}

.container--dark-cyan {
    background-color: var(--Very-dark-cyan);
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.attribution {
    font-size: 11px;
    
}

.attribution a{
    color: blue;
}

@media screen and (max-width: 950px) {

    body {
        height: unset;
    }
    
    .containers {
        flex-direction: column;
    }

    .container--orange {
        border-top-right-radius: 10px;
        border-bottom-left-radius: 0px;
    }

    .container--dark-cyan {
        border-top-right-radius: 0px;
        border-bottom-left-radius: 10px;
    }
}